.go_back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: aliceblue;
  z-index: 10000;
  border-radius: 30px;
  background-color: rgba(124, 58, 237, 30%);
  padding: 5px;
  padding-inline: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  gap: 3px;
  cursor: pointer;
  
text-decoration: none;
  
  

}
